// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homes{
.title_top {
  font-size: 100px;
  font-family: 'Bitter', serif;
  color:#fff;
}

.card {
  border-top :1px solid rgba(255, 255, 255, 0.5);
  border-left :1px solid rgba(255, 255, 255, 0.5);
  height :300px;
  display :flex;
  align-items :center;
  text-align :center;
  justify-content :center;
  border-radius: 15px;
  box-shadow :20px 20px 50px rgba(0, 0, 0, 0.5);
  background :rgba(255, 255, 255, 0.2);
  backdrop-filter :blur(5px);
  overflow: hidden;
}

h1 {
  font-size: 100px;
  font-family: 'Bitter', serif;
  color:#fff;
  border-radius: 15px;
  text-shadow :0px 5px 15px rgba(0, 0, 0, 1);
}


.icon {
  font-size: 80px;
  color:#fff;
  filter:drop-shadow(0 5px 15px #000);
}

.home_p {
  color:#fff;
  border-radius: 15px;
  text-shadow :0px 5px 15px rgba(0, 0, 0, 1);
}

.btn.btn-info:hover {
  background-color:#fff;
  color:#17a2b8;
}

.btn.btn-success:hover {
  background-color:#fff;
  color:#28a745;
}

.btn.btn-secondary:hover {
  background-color:#fff;
  color:#6c757d;
}

.index {
  height: 100vh !important;
  min-height : 100vh !important;
  background-image: image-url('Books_top.jpg');
  background-react: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  background-size:cover;
}

.container_about {
  background-color:#fff;
  position: relative;
  top: 8%;
}

.main-index {
  position: relative;
  top: 8%;
}

#splash {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  color: #fff;
}

#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  form {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
     transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
    h1 {
      font-size: 80px;
    }
  }

  @media screen and (max-width: 680px) {
    h1 {
      font-size: 60px;
    }
      .icon {
      font-size: 48px;
    }
  }

   @media screen and (max-width: 569px) {
      h1 {
        font-size: 50px;
      }
      .icon {
      font-size: 32px;
    }
  }

  @media screen and (max-width: 350px) {
      h1 {
        font-size: 30px;
      }
      .icon {
      font-size: 32px;
    }
  }
}