// Place all the styles related to the public::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sessions {
  .index {
    height: 100vh !important;
    min-height : 100vh !important;
    background-image: image-url('Books_top.jpg');
    background-react: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
  }

  .container_session {
    background-color:#fff;
    position: relative;
    top: 8%;
  }

  .main-index {
    position: relative;
    top: 8%;
  }
}

.registrations {
  .index {
    height: 100vh !important;
    min-height : 100vh !important;
    background-image: image-url('Books_top.jpg');
    background-react: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
  }

  .container_session {
    background-color:#fff;
    position: relative;
    top: 8%;
  }

  .main-index {
    position: relative;
    top: 8%;
  }
}

.users {
  h1 {
    color: #3399FF;
    text-align: center;
    padding: 0.25em;
    border-top: solid 2px #6cb4e4;
    border-bottom: solid 2px #6cb4e4;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  }

  h2 {
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
  }

  .index {
    min-height : 100vh !important;
    background-color:#FFFFCC;
  }
}