<div class="container mt-5 text-center">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1><strong>About</strong></h1>
      <div>
        <p>Learning booksは、学習教材共有サイトです</p>
        <p>学習する時の教材探しにお使いください</p>
        <p>学生、プログラミング初心者向けです。</p>
      </div>
    </div>