/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.sidebar{
  max-width: 250px;
  min-width: 250px;
  background-color:rgba(51,51,51,0.9);
}

.sidebar .brand{
  position: relative;
  padding: 0.6em;
  background: #e0edff;
  line-height:0.95em;
	font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.2em rgba(0,0,0,1);
  text-align:center;
  margin: auto;
}

.sidebar .brand:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}

.sidebar .nav-link {
  background-color: rgba(255, 255, 255, 0.493);
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.sidebar .nav-link:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.header {
  background-image: image-url('Books_header.jpg');
  background-react: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  background-size:cover;
}

.nav.navbar-toggler {
  color: #fff;
}

.nav.navbar-brand {
  font-size: 35px;
}

.collapseSide {
  height: 100% !important;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  transform: translateX(-100%);
  transition: 0.35s transform ease-out;
  &.show {
    transform: translateX(-100%);
  }
}

.collapseSide.active {
  height: 100% !important;
  pointer-events: auto;
  position: absolute;
  z-index: 1;
  transform: translateX(0%);
  transition: 0.35s transform ease-out;
  &.show {
    transform: translateX(0%);
  }
}

.btn {
	cursor: pointer;
}

.index {
  height: 100vh !important;
  min-height : 100vh !important;
}

@media screen and (max-width: 550px) {
  .sidebar{
    max-width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .sidebar{
    max-width: 100%;
    min-width: 100%;
  }
}